@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(0, 77, 64, 1.0);

  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  font-family: 'Comic Neue', cursive;
  font-size: 4rem;
  @media (max-width: #{$screen-md-min}) {
    font-size: 2rem;
  }
  b {
    color: rgba(253, 216, 53, 1.0);
  }
}

.button {
  color: white;
  background: red;
}
