// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Tic Tac Toe specific
$lgSize: 350px;
$uiSize: 100px;
$borderSize: 8px;

// colors
$yellow: rgba(253, 216, 53, 1);
