@import '../../variables';

$lgSize: 500px;
$uiSize: 100px;
$borderSize: 8px;


.boardWithUI {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -($lgSize + $uiSize * 3) / 2;
  margin-left: -($lgSize) / 2;

  @media (max-width: #{$screen-md-min}) {
    margin-top: -($lgSize / 2 + ($uiSize /2) * 3) / 2;
    margin-left: -($lgSize /2) / 2;
  }
}

.UI {
  height: $uiSize;
  @media (max-width: #{$screen-md-min}) {
    height: $uiSize / 2;
  }
}

.board {
  border: $borderSize solid rgba(0, 96, 100, 0.6);

  height: $lgSize;
  width: $lgSize;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  @media (max-width: #{$screen-md-min}) {
    height: $lgSize / 2;
    width: $lgSize / 2;
  }

  box-sizing: border-box;
}

.block {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;

  border: $borderSize solid rgba(0, 96, 100, 0.6);

  &:hover {
    border: $borderSize solid rgba(253, 216, 53, 1.0);
    @media (max-width: #{$screen-md-min}) {
      border: ($borderSize / 2) solid rgba(253, 216, 53, 1.0);
    }
    cursor: pointer;
  }

  font-weight: bold;
  font-size: 4em;

  @media (max-width: #{$screen-md-min}) {
    border: ($borderSize / 2) solid rgba(0, 96, 100, 0.6);
    font-size: 2em;
  }
}

